* {
    background-color:rgb(247, 233, 228);
}
.Form {
    text-align: left;
    margin-top: 30px;
    width: 50%;
    margin-left: 35%;
}

.background {
    width: auto;
}
.button-predict {
    background-color: antiquewhite;
    margin-left: 50%;
}