.img-bg {
    min-height: 100%;
  min-width: 1024px;
	

  width: 100%;
  height: auto;
	
 
  position: fixed;
  z-index:0;
  top: 0;
  left: 0;
  opacity: 0.4;
}
.subheading {
    color: rgb(172, 11, 11);
    background-color: linear-gradient(90deg, #fba61d, #af4261);
    position: absolute;
    top: 60px;
    right: 30px;
    padding-top: 200px;
    padding-right: 80px;
    font-size: 60px;
    font-weight: 800;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    z-index: 1;
}
.text {
    color: rgb(172, 11, 11);
    position: relative;
    text-align: center;
    position: absolute;
    height: 20px;
    padding-left: 290px;
    transform:translateY(250%);
    font-size: 95px;
    font-weight: 900;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    z-index: 1;
}

.button {
    position: relative;

    background-color: rgb(232, 80, 80);
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    z-index: 1;
}
.info-text{
    color: rgb(172, 11, 11);
    position: absolute;
    top: 60px;
    right: 30px;
    padding-top: 270px;
    padding-right: 0px;
    font-size: 15px;
    font-weight: 100;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-wrap {
    text-align: center;
    position: absolute;
    top: 30px;
    left: 70px;
    width: 50px;
    padding-left: 3px;
    max-height: 300px;
    z-index: 1;
}

.heart-pic{
    position: absolute;
    z-index:-1;
    right: 150px;
    top: 30px;
    padding-left: 100px;
    padding-bottom: 100px;
    width: 24%; /* you can use % */
    height: auto;
    z-index: 1;
}