.img-bg {
    min-height: 100%;
  min-width: 1024px;
	

  width: 100%;
  height: auto;
	
 
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
}
.text {
    color: white;
    position: relative;
    text-align: center;
    transform:translateY(300%);
    font-size: 50px;
    font-weight: 700;
}

.button {
    position: relative;
}
.btn-wrap {
    text-align: center;
}